table {
    background:#fff;
    min-width:100%;
    border-spacing:0;
    width:100%;
    /*margin:10px 0;*/
    border:1px solid #ddd;
    border-collapse:separate;
    *border-collapse:collapsed;
    -webkit-box-shadow:0 0 4px rgba(0,0,0,0.10);
    -moz-box-shadow:0 0 4px rgba(0,0,0,0.10);
    box-shadow:0 0 4px rgba(0,0,0,0.10);
    display: table;
    table-layout: fixed;
    border-radius: 5px;
}
table th,
table td {
    padding:8px;
    line-height:18px;
    text-align:left;
    border-top:1px solid #ddd;
    display: table-cell!important;
}
table th {
    /*background: #FFFFFF;*/
    /*border-bottom: 1px solid black;*/
    font-weight:bold;
    vertical-align:bottom;
    cursor: pointer;
}
table td {
    vertical-align:top;
    transition: 0.5s;
}
tr:nth-child(even) {
    background-color: #ebedea;
}
table thead:first-child tr th,
table thead:first-child tr td {
    border-top:0;
}
table tbody + tbody {
    border-top:2px solid #ddd;
}
table th + th,
table td + td,
table th + td,
table td + th {
    border-left:1px solid #ddd;
}
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
    border-top:0;
}
table img{
    width: 8px;
    padding-left: 8px;
}
.movingColumn{
    background-color: cornflowerblue;
}
.sorting-row{
    background-color: #b5c0d1;
}